pandas==2.3.3
numpy==2.4.2
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
mlflow==3.9.0
dvc==3.66.1
pydantic==2.12.5
python-dotenv==1.2.1
optuna==4.2.1
bentoml==1.4.35
optuna-integration[mlflow]==4.2.1
plotly==6.0.1
kaleido==0.2.1